*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color:  hsl(0, 100%, 74%);
  background-image: url(/nexascale/bg-intro-desktop.png);
}
.call-to-action{
  margin: 20px;
}
.contact-container{
  display: flex;
 justify-content: space-evenly;
}
.contact-container-1{
  /* flex: 1; */
  padding-top: 135px;
}
.text-heading{
  color: #fff;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 28px;
}
.text-para{
  margin-top: 35px;
  line-height: 1.5;
  color: white;
  opacity: 45%;
}
.contact-container-2{
  width: 32%;
  padding-top: 50px;
  text-align: center;
}
.free-trial{
  border-radius: 7px;
  padding: 17px;
  color: #fff;
  font-family: serif;
  background-color: rgb(113,100,185);
  margin-bottom: 12px;
  text-transform: capitalize;

}
.free-trial > span{
  opacity: 40%;
}
form{
  background-color: #F0F8FF;
  padding: 30px 35px;
  border-radius: 10px;
}

.input-field {
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 3px;
  box-shadow: -2px -1px rgb(171,171,171);
  border: 1px solid rgb(171,171,171) ;
  outline: none;
  margin-bottom: 30px;
}
.input-field::placeholder{
  text-transform: capitalize;
}
.input-button{
  padding: 12px;
  width: 100%;
  border-radius: 3px;
  background-color: rgb(60,205,104);
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 10px  0 13px;
}

.free-trial-para{
  font-size: 10px;
  font-family: serif;
  font-weight: bold;
  
}
 a{
  text-decoration: none;
  color: red;
}


/* MEDIA QUERIES */
@media  (min-width: 280px) and (max-width: 767px) {
  body{
    background-color:  hsl(0, 100%, 74%);
    background-image: none;
  }
  .call-to-action {
    margin: 20px;
    text-align: center;

}
  .contact-container{
    display: block;
  }
  .contact-container-1{
    /* flex: 1; */
    padding-top: 0;
  }
  
  .text-heading{
    font-size: 25px;
  }
.text-para {
    margin-top: 26px;
}
  .free-trial{
    width: 82%;
    margin-left: 28px;
    font-size: 12px;
    padding: 23px 17px;
   background-color: rgb(52,39,130) ;
  }
  .contact-container-2{
    width: 100%;
    padding-top: 30px;
  }
 
  form {
    padding: 30px 30px;

}
.input-field{
  margin-bottom: 0;
  margin-top: 20px;
}
 .free-trial-para{
   font-size: 12px;
   font-family: serif;
   font-weight: bold;
}

}
@media screen and (min-width: 481px) and (max-width: 767px){
  
}
@media screen and (min-width: 768px) and (max-width: 991px){
  
}